<form action="/" method="get">
    <fieldset>
        <legend>Weather Forecast:</legend>
        Enter a city/location:<br>
        <input type="text" name="location"></input>
        <input type="submit" value="Submit">
    </fieldset>
</form>
<hr>
<p>{{location}}</p>
<p>{{forecast}}</p>
